h1{
    text-align: center;
}

body{
    margin: 5px;
    padding: 50px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

thead td:hover{
    background: transparent;;
}
td:hover {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
}

.map-container,#gmap_canvas{
    height:450px;width: 100%;
}
#gmap_canvas img{
    max-width:none!important;
    background:none!important
}

.divMap{
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
}